In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/Users/sho/Monash/FIT3179/data_vis2/world-happiness-report-2015-2022-cleaned.csv")

In [3]:
df

,row,Happiness_Rank,Country,Region,Happiness_Score,GDP_per_Capita,Family_(Social_Support),Health_(Life_Expectancy),Freedom,Trust_(Government_Corruption),...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,0,1,Switzerland,Western Europe,7.587,1.397,1.350,0.941,0.666,0.420,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2,Iceland,Western Europe,7.561,1.302,1.402,0.948,0.629,0.141,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,3,Denmark,Western Europe,7.527,1.325,1.361,0.875,0.649,0.484,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,4,Norway,Western Europe,7.522,1.459,1.331,0.885,0.670,0.365,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,5,Canada,North America,7.427,1.326,1.323,0.906,0.633,0.330,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1224,141,142,Botswana,-,3.471,1.503,0.815,0.280,0.571,0.102,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1225,142,143,Rwanda,-,3.268,0.785,0.133,0.462,0.621,0.544,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1226,143,144,Zimbabwe,Sub-Saharan Africa,2.995,0.947,0.690,0.270,0.329,0.105,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1227,144,145,Lebanon,Middle East and Northern Africa,2.955,1.392,0.498,0.631,0.103,0.034,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1228,145,146,Afghanistan,Southern Asia,2.404,0.758,0.000,0.289,0.000,0.005,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df = df[df['Year'] == 2022]

In [5]:
df

,row,Happiness_Rank,Country,Region,Happiness_Score,GDP_per_Capita,Family_(Social_Support),Health_(Life_Expectancy),Freedom,Trust_(Government_Corruption),...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
1083,0,1,Finland,Western Europe,7.821,1.892,1.258,0.775,0.736,0.534,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1084,1,2,Denmark,Western Europe,7.636,1.953,1.243,0.777,0.719,0.532,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1085,2,3,Iceland,Western Europe,7.557,1.936,1.320,0.803,0.718,0.191,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1086,3,4,Switzerland,Western Europe,7.512,2.026,1.226,0.822,0.677,0.461,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1087,4,5,Netherlands,Western Europe,7.415,1.945,1.206,0.787,0.651,0.419,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1224,141,142,Botswana,-,3.471,1.503,0.815,0.280,0.571,0.102,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1225,142,143,Rwanda,-,3.268,0.785,0.133,0.462,0.621,0.544,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1226,143,144,Zimbabwe,Sub-Saharan Africa,2.995,0.947,0.690,0.270,0.329,0.105,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1227,144,145,Lebanon,Middle East and Northern Africa,2.955,1.392,0.498,0.631,0.103,0.034,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1228,145,146,Afghanistan,Southern Asia,2.404,0.758,0.000,0.289,0.000,0.005,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df = df[['Country', 'GDP_per_Capita', 'Family_(Social_Support)', 'Health_(Life_Expectancy)', 'Freedom', 'Trust_(Government_Corruption)', 'Generosity']]

In [7]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
columns_to_scale = ['GDP_per_Capita', 'Family_(Social_Support)', 'Health_(Life_Expectancy)', 'Freedom', 'Trust_(Government_Corruption)', 'Generosity']
df[columns_to_scale] = scaler.fit_transform(df[columns_to_scale])

/var/folders/hf/185pxfjs633fp7m0867r7t6m0000gn/T/ipykernel_50675/1386604946.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[columns_to_scale] = scaler.fit_transform(df[columns_to_scale])

In [8]:
df

,Country,GDP_per_Capita,Family_(Social_Support),Health_(Life_Expectancy),Freedom,Trust_(Government_Corruption),Generosity
1083,Finland,0.856496,0.953030,0.822718,0.994595,0.909710,0.232906
1084,Denmark,0.884110,0.941667,0.824841,0.971622,0.906303,0.401709
1085,Iceland,0.876415,1.000000,0.852442,0.970270,0.325383,0.576923
1086,Switzerland,0.917157,0.928788,0.872611,0.914865,0.785349,0.314103
1087,Netherlands,0.880489,0.913636,0.835456,0.879730,0.713799,0.579060
...,...,...,...,...,...,...,...
1224,Botswana,0.680398,0.617424,0.297240,0.771622,0.173765,0.025641
1225,Rwanda,0.355364,0.100758,0.490446,0.839189,0.926746,0.399573
1226,Zimbabwe,0.428701,0.522727,0.286624,0.444595,0.178876,0.226496
1227,Lebanon,0.630149,0.377273,0.669851,0.139189,0.057922,0.175214
1228,Afghanistan,0.343142,0.000000,0.306794,0.000000,0.008518,0.190171

In [9]:
new_column_names = ['Country', 'GDP per Capita', 'Social Support', 'Health', 'Freedom',
                   'Government Trust', 'Generosity']

df.columns = new_column_names

In [10]:
data = df.melt(id_vars=['Country'], var_name='Key', value_name='Value')
data

         Country             Key     Value
0        Finland  GDP per Capita  0.856496
1        Denmark  GDP per Capita  0.884110
2        Iceland  GDP per Capita  0.876415
3    Switzerland  GDP per Capita  0.917157
4    Netherlands  GDP per Capita  0.880489
..           ...             ...       ...
871     Botswana      Generosity  0.025641
872       Rwanda      Generosity  0.399573
873     Zimbabwe      Generosity  0.226496
874      Lebanon      Generosity  0.175214
875  Afghanistan      Generosity  0.190171

[876 rows x 3 columns]

In [11]:
df

,Country,GDP per Capita,Social Support,Health,Freedom,Government Trust,Generosity
1083,Finland,0.856496,0.953030,0.822718,0.994595,0.909710,0.232906
1084,Denmark,0.884110,0.941667,0.824841,0.971622,0.906303,0.401709
1085,Iceland,0.876415,1.000000,0.852442,0.970270,0.325383,0.576923
1086,Switzerland,0.917157,0.928788,0.872611,0.914865,0.785349,0.314103
1087,Netherlands,0.880489,0.913636,0.835456,0.879730,0.713799,0.579060
...,...,...,...,...,...,...,...
1224,Botswana,0.680398,0.617424,0.297240,0.771622,0.173765,0.025641
1225,Rwanda,0.355364,0.100758,0.490446,0.839189,0.926746,0.399573
1226,Zimbabwe,0.428701,0.522727,0.286624,0.444595,0.178876,0.226496
1227,Lebanon,0.630149,0.377273,0.669851,0.139189,0.057922,0.175214
1228,Afghanistan,0.343142,0.000000,0.306794,0.000000,0.008518,0.190171

In [12]:
data.to_csv("world-happiness-report-2022", index=False)

In [13]:
df = pd.read_csv("/Users/sho/Monash/FIT3179/data_vis2/world-happiness-report-2015-2022-cleaned.csv")

In [14]:
df = df[['Country', 'Happiness_Score', 'GDP_per_Capita', 'Family_(Social_Support)', 'Health_(Life_Expectancy)', 'Freedom', 'Trust_(Government_Corruption)', 'Generosity', 'Year']]

In [15]:
new_column_names = ['Country', 'Happiness Score', 'GDP per Capita', 'Social Support', 'Health', 'Freedom',
                   'Government Trust', 'Generosity', 'Year']

df.columns = new_column_names

In [16]:
df

,Country,Happiness Score,GDP per Capita,Social Support,Health,Freedom,Government Trust,Generosity,Year
0,Switzerland,7.587,1.397,1.350,0.941,0.666,0.420,0.297,2015
1,Iceland,7.561,1.302,1.402,0.948,0.629,0.141,0.436,2015
2,Denmark,7.527,1.325,1.361,0.875,0.649,0.484,0.341,2015
3,Norway,7.522,1.459,1.331,0.885,0.670,0.365,0.347,2015
4,Canada,7.427,1.326,1.323,0.906,0.633,0.330,0.458,2015
...,...,...,...,...,...,...,...,...,...
1224,Botswana,3.471,1.503,0.815,0.280,0.571,0.102,0.012,2022
1225,Rwanda,3.268,0.785,0.133,0.462,0.621,0.544,0.187,2022
1226,Zimbabwe,2.995,0.947,0.690,0.270,0.329,0.105,0.106,2022
1227,Lebanon,2.955,1.392,0.498,0.631,0.103,0.034,0.082,2022
1228,Afghanistan,2.404,0.758,0.000,0.289,0.000,0.005,0.089,2022

In [17]:
df.to_csv("world-happiness-report-renamed", index=False)

In [18]:
df.describe()

,Happiness Score,GDP per Capita,Social Support,Health,Freedom,Government Trust,Generosity,Year
count,1229.000000,1229.000000,1229.00000,1229.000000,1229.000000,1229.000000,1229.000000,1229.000000
mean,5.429000,0.975341,1.03319,0.608085,0.440958,0.130751,0.201598,2018.447518
std,1.115157,0.434257,0.32957,0.241337,0.154414,0.110812,0.115581,2.283610
min,2.404000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,2015.000000
25%,4.584000,0.668000,0.82800,0.439000,0.345000,0.056000,0.118000,2016.000000
50%,5.410000,1.012000,1.06900,0.639000,0.459000,0.096000,0.187000,2018.000000
75%,6.223000,1.296000,1.27400,0.791000,0.559000,0.164000,0.259000,2020.000000
max,7.842000,2.209000,1.64400,1.141000,0.740000,0.587000,0.838000,2022.000000

In [19]:
# Define category functions for each column
def categorize_happiness_score(score):
    if score >= 7:
        return "Very High"
    elif score >= 6:
        return "High"
    elif score >= 5:
        return "Medium"
    elif score >= 4:
        return "Low"
    else:
        return "Very Low"

def categorize_gdp(gdp):
    if gdp >= 1.8:
        return "Very High"
    elif gdp >= 1.2:
        return "High"
    elif gdp >= 0.9:
        return "Medium"
    elif gdp >= 0.5:
        return "Low"
    else:
        return "Very Low"

def categorize_social_support(social_support):
    if social_support >= 1.4:
        return "Very High"
    elif social_support >= 1.2:
        return "High"
    elif social_support >= 1.0:
        return "Medium"
    elif social_support >= 0.7:
        return "Low"
    else:
        return "Very Low"

def categorize_health(health):
    if health >= 1.0:
        return "Very High"
    elif health >= 0.8:
        return "High"
    elif health >= 0.6:
        return "Medium"
    elif health >= 0.4:
        return "Low"
    else:
        return "Very Low"

def categorize_freedom(freedom):
    if freedom >= 0.7:
        return "Very High"
    elif freedom >= 0.55:
        return "High"
    elif freedom >= 0.45:
        return "Medium"
    elif freedom >= 0.3:
        return "Low"
    else:
        return "Very Low"

def categorize_government_trust(trust):
    if trust >= 0.2:
        return "Very High"
    elif trust >= 0.165:
        return "High"
    elif trust >= 0.1:
        return "Medium"
    elif trust >= 0.046:
        return "Low"
    else:
        return "Very Low"

def categorize_generosity(generosity):
    if generosity >= 0.3:
        return "Very High"
    elif generosity >= 0.2:
        return "High"
    elif generosity >= 0.17:
        return "Medium"
    elif generosity >= 0.1:
        return "Low"
    else:
        return "Very Low"

# Apply the categorization functions to create new columns
df['Happiness'] = df['Happiness Score'].apply(categorize_happiness_score)
df['GDP per Capita category'] = df['GDP per Capita'].apply(categorize_gdp)
df['Social Support category'] = df['Social Support'].apply(categorize_social_support)
df['Health category'] = df['Health'].apply(categorize_health)
df['Freedom category'] = df['Freedom'].apply(categorize_freedom)
df['Government Trust category'] = df['Government Trust'].apply(categorize_government_trust)
df['Generosity category'] = df['Generosity'].apply(categorize_generosity)

df

,Country,Happiness Score,GDP per Capita,Social Support,Health,Freedom,Government Trust,Generosity,Year,Happiness,GDP per Capita category,Social Support category,Health category,Freedom category,Government Trust category,Generosity category
0,Switzerland,7.587,1.397,1.350,0.941,0.666,0.420,0.297,2015,Very High,High,High,High,High,Very High,High
1,Iceland,7.561,1.302,1.402,0.948,0.629,0.141,0.436,2015,Very High,High,Very High,High,High,Medium,Very High
2,Denmark,7.527,1.325,1.361,0.875,0.649,0.484,0.341,2015,Very High,High,High,High,High,Very High,Very High
3,Norway,7.522,1.459,1.331,0.885,0.670,0.365,0.347,2015,Very High,High,High,High,High,Very High,Very High
4,Canada,7.427,1.326,1.323,0.906,0.633,0.330,0.458,2015,Very High,High,High,High,High,Very High,Very High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1224,Botswana,3.471,1.503,0.815,0.280,0.571,0.102,0.012,2022,Very Low,High,Low,Very Low,High,Medium,Very Low
1225,Rwanda,3.268,0.785,0.133,0.462,0.621,0.544,0.187,2022,Very Low,Low,Very Low,Low,High,Very High,Medium
1226,Zimbabwe,2.995,0.947,0.690,0.270,0.329,0.105,0.106,2022,Very Low,Medium,Very Low,Very Low,Low,Medium,Low
1227,Lebanon,2.955,1.392,0.498,0.631,0.103,0.034,0.082,2022,Very Low,High,Very Low,Medium,Very Low,Very Low,Very Low
1228,Afghanistan,2.404,0.758,0.000,0.289,0.000,0.005,0.089,2022,Very Low,Low,Very Low,Very Low,Very Low,Very Low,Very Low

In [20]:
df.to_csv("world-happiness-report-for-map", index=False)

In [21]:
df[df['Country'] == 'India']

,Country,Happiness Score,GDP per Capita,Social Support,Health,Freedom,Government Trust,Generosity,Year,Happiness,GDP per Capita category,Social Support category,Health category,Freedom category,Government Trust category,Generosity category
116,India,4.565,0.645,0.382,0.515,0.398,0.085,0.265,2015,Low,Low,Very Low,Low,Low,Low,High
275,India,4.404,0.740,0.292,0.451,0.403,0.087,0.250,2016,Low,Low,Very Low,Low,Low,Low,High
436,India,4.315,0.792,0.754,0.455,0.470,0.092,0.232,2017,Low,Low,Low,Low,Medium,Low,High
601,India,4.190,0.721,0.747,0.485,0.539,0.093,0.172,2018,Low,Low,Low,Low,Medium,Low,Medium
764,India,4.015,0.755,0.765,0.588,0.498,0.085,0.200,2019,Low,Low,Low,Low,Medium,Low,High
924,India,3.573,0.731,0.644,0.541,0.581,0.106,0.237,2020,Very Low,Low,Very Low,Low,High,Medium,High
1072,India,3.819,0.741,0.316,0.383,0.622,0.106,0.246,2021,Very Low,Low,Very Low,Very Low,High,Medium,High
1218,India,3.777,1.167,0.376,0.471,0.647,0.123,0.198,2022,Very Low,Medium,Very Low,Low,High,Medium,Medium

In [22]:
df = pd.read_csv("/Users/sho/Monash/FIT3179/data_vis2/world-happiness-report-2015-2022-cleaned.csv")

In [23]:
df = df[['Country', 'Region', 'Happiness_Score', 'GDP_per_Capita', 'Family_(Social_Support)', 'Health_(Life_Expectancy)', 'Freedom', 'Trust_(Government_Corruption)', 'Generosity', 'Year']]

In [24]:
df

,Country,Region,Happiness_Score,GDP_per_Capita,Family_(Social_Support),Health_(Life_Expectancy),Freedom,Trust_(Government_Corruption),Generosity,Year
0,Switzerland,Western Europe,7.587,1.397,1.350,0.941,0.666,0.420,0.297,2015
1,Iceland,Western Europe,7.561,1.302,1.402,0.948,0.629,0.141,0.436,2015
2,Denmark,Western Europe,7.527,1.325,1.361,0.875,0.649,0.484,0.341,2015
3,Norway,Western Europe,7.522,1.459,1.331,0.885,0.670,0.365,0.347,2015
4,Canada,North America,7.427,1.326,1.323,0.906,0.633,0.330,0.458,2015
...,...,...,...,...,...,...,...,...,...,...
1224,Botswana,-,3.471,1.503,0.815,0.280,0.571,0.102,0.012,2022
1225,Rwanda,-,3.268,0.785,0.133,0.462,0.621,0.544,0.187,2022
1226,Zimbabwe,Sub-Saharan Africa,2.995,0.947,0.690,0.270,0.329,0.105,0.106,2022
1227,Lebanon,Middle East and Northern Africa,2.955,1.392,0.498,0.631,0.103,0.034,0.082,2022
1228,Afghanistan,Southern Asia,2.404,0.758,0.000,0.289,0.000,0.005,0.089,2022

In [25]:
df['Country'].unique()

array(['Switzerland', 'Iceland', 'Denmark', 'Norway', 'Canada', 'Finland',
       'Netherlands', 'Sweden', 'New Zealand', 'Australia', 'Israel',
       'Costa Rica', 'Austria', 'Mexico', 'United States of America',
       'Brazil', 'Luxembourg', 'Ireland', 'Belgium',
       'United Arab Emirates', 'United Kingdom', 'Oman', 'Venezuela',
       'Singapore', 'Panama', 'Germany', 'Chile', 'Qatar', 'France',
       'Argentina', 'Czech Republic', 'Uruguay', 'Colombia', 'Thailand',
       'Saudi Arabia', 'Spain', 'Malta', 'Taiwan', 'Kuwait', 'Suriname',
       'Trinidad and Tobago', 'El Salvador', 'Guatemala', 'Uzbekistan',
       'Slovakia', 'Japan', 'South Korea', 'Ecuador', 'Bahrain', 'Italy',
       'Bolivia', 'Moldova', 'Paraguay', 'Kazakhstan', 'Slovenia',
       'Lithuania', 'Nicaragua', 'Peru', 'Belarus', 'Poland', 'Malaysia',
       'Croatia', 'Libya', 'Russia', 'Jamaica', 'North Cyprus', 'Cyprus',
       'Algeria', 'Kosovo', 'Turkmenistan', 'Mauritius', 'Hong Kong',
       'Estonia', 'Indonesia', 'Vietnam', 'Turkey', 'Kyrgyzstan',
       'Nigeria', 'Bhutan', 'Azerbaijan', 'Pakistan', 'Jordan',
       'Montenegro', 'China', 'Zambia', 'Romania', 'Serbia', 'Portugal',
       'Latvia', 'Philippines', 'Somaliland region', 'Morocco',
       'Macedonia', 'Mozambique', 'Albania', 'Bosnia and Herzegovina',
       'Lesotho', 'Dominican Republic', 'Laos', 'Mongolia', 'Swaziland',
       'Greece', 'Lebanon', 'Hungary', 'Honduras', 'Tajikistan',
       'Tunisia', 'Palestinian Territories', 'Bangladesh', 'Iran',
       'Ukraine', 'Iraq', 'South Africa', 'Ghana', 'Zimbabwe', 'Liberia',
       'India', 'Sudan', 'Haiti', 'Congo (Kinshasa)', 'Nepal', 'Ethiopia',
       'Sierra Leone', 'Mauritania', 'Kenya', 'Djibouti', 'Armenia',
       'Botswana', 'Myanmar', 'Georgia', 'Malawi', 'Sri Lanka',
       'Cameroon', 'Bulgaria', 'Egypt', 'Yemen', 'Angola', 'Mali',
       'Congo (Brazzaville)', 'Comoros', 'Uganda', 'Senegal', 'Gabon',
       'Niger', 'Cambodia', 'Tanzania', 'Madagascar',
       'Central African Rep', 'Chad', 'Guinea', 'Ivory Coast',
       'Burkina Faso', 'Afghanistan', 'Rwanda', 'Benin', 'Syria',
       'Burundi', 'Togo', 'Puerto Rico', 'Belize', 'Somalia',
       'Somaliland Region', 'Namibia', 'S. Sudan',
       'Taiwan Province of China', 'Hong Kong S.A.R. of China',
       'Trinidad & Tobago', 'Northern Cyprus', 'North Macedonia',
       'Gambia', 'Maldives', 'Czechia', 'Congo', 'Eswatini'], dtype=object)

In [26]:
# Define a mapping dictionary for countries and their continents
continent_mapping = {
    'Asia': ['Japan', 'South Korea', 'Thailand', 'Taiwan', 'Israel', 'United Arab Emirates', 'Oman', 'Singapore', 'Qatar', 'Saudi Arabia', 'Turkey', 'Kuwait', 'Bahrain', 'Lebanon', 'Jordan', 'Syria', 'Iraq', 'Iran', 'Yemen', 'Afghanistan', 'Pakistan', 'Bhutan', 'Azerbaijan', 'Kyrgyzstan', 'Tajikistan', 'Palestinian Territories', 'Bangladesh', 'India', 'Nepal', 'Sri Lanka', 'Myanmar', 'Maldives'],
    'Africa': ['Algeria', 'Nigeria', 'Rwanda', 'Zimbabwe', 'Liberia', 'Sudan', 'Haiti', 'Congo (Kinshasa)', 'Ethiopia', 'Sierra Leone', 'Mauritania', 'Kenya', 'Djibouti', 'Somalia', 'Namibia', 'S. Sudan', 'Gambia', 'Mali', 'Congo (Brazzaville)', 'Comoros', 'Uganda', 'Senegal', 'Gabon', 'Niger', 'Tanzania', 'Madagascar', 'Central African Republic', 'Chad', 'Guinea', 'Ivory Coast', 'Burkina Faso', 'Rwanda', 'Benin', 'Burundi', 'Togo', 'Somaliland Region', 'Eswatini'],
    'North America': ['Canada', 'United States of America', 'Mexico', 'Costa Rica', 'Panama', 'El Salvador', 'Guatemala', 'Honduras', 'Puerto Rico', 'Belize'],
    'South America': ['Brazil', 'Argentina', 'Suriname', 'Trinidad and Tobago', 'Uruguay', 'Colombia', 'Ecuador', 'Bolivia', 'Paraguay', 'Venezuela', 'Chile'],
    'Europe': ['Uzbekistan', 'France', 'Switzerland', 'Iceland', 'Denmark', 'Norway', 'Finland', 'Netherlands', 'Sweden', 'New Zealand', 'Australia', 'Austria', 'Luxembourg', 'Ireland', 'Belgium', 'United Kingdom', 'Germany', 'Czech Republic', 'Spain', 'Malta', 'Italy', 'Moldova', 'Slovenia', 'Lithuania', 'Belarus', 'Poland', 'Croatia', 'Russia', 'North Cyprus', 'Cyprus', 'Kosovo', 'Mauritius', 'Estonia', 'Latvia', 'Greece', 'Hungary', 'Portugal', 'Serbia', 'Romania', 'Bulgaria', 'Macedonia', 'Albania', 'Bosnia and Herzegovina', 'Montenegro', 'Slovakia', 'Ukraine', 'Russia', 'Latvia', 'Morocco', 'Macedonia', 'Mozambique', 'Albania', 'Bosnia and Herzegovina', 'Lesotho', 'Dominican Republic', 'Laos', 'Mongolia', 'Swaziland', 'Greece', 'Libya', 'Jamaica', 'Hungary', 'Tajikistan', 'Tunisia', 'Palestinian Territories', 'Tunisia', 'Kyrgyzstan', 'Azerbaijan', 'Jordan', 'Montenegro', 'Russia', 'Macedonia', 'China', 'Zambia', 'Romania', 'Serbia', 'Portugal', 'Latvia', 'Philippines', 'Somaliland region', 'Morocco', 'Macedonia', 'Mozambique', 'Albania', 'Bosnia and Herzegovina', 'Lesotho', 'Dominican Republic', 'Laos', 'Mongolia', 'Swaziland', 'Greece', 'Libya', 'Jamaica', 'North Cyprus', 'Cyprus', 'Kosovo', 'Turkmenistan', 'Mauritius', 'Hong Kong', 'Estonia', 'Indonesia', 'Vietnam', 'Kazakhstan', 'Slovenia', 'Lithuania', 'Nicaragua', 'Peru', 'Belarus', 'Poland', 'Malaysia', 'Croatia', 'Libya', 'Russia', 'Jamaica', 'North Cyprus', 'Cyprus', 'Kosovo', 'Turkmenistan', 'Mauritius', 'Hong Kong', 'Estonia', 'Indonesia', 'Vietnam', 'Kazakhstan', 'Slovenia', 'Lithuania', 'Nicaragua', 'Peru', 'Cambodia', 'Mozambique', 'Malawi', 'Cameroon', 'Egypt', 'Zambia', 'Ukraine', 'South Africa', 'Ghana', 'Zimbabwe', 'Liberia', 'Djibouti', 'Armenia', 'Botswana', 'Myanmar', 'Georgia', 'Sri Lanka', 'Bulgaria', 'Egypt', 'Yemen', 'Angola', 'Mali', 'Congo (Brazzaville)', 'Comoros', 'Uganda', 'Senegal', 'Gabon', 'Niger', 'Cambodia', 'Tanzania', 'Madagascar', 'Central African Republic', 'Chad', 'Guinea', 'Ivory Coast', 'Burkina Faso', 'Togo', 'Benin', 'Syria', 'Burundi', 'Togo', 'Somalia', 'Somaliland Region', 'Namibia', 'S. Sudan', 'Taiwan Province of China', 'Hong Kong S.A.R. of China', 'Trinidad & Tobago', 'Northern Cyprus', 'North Macedonia', 'Gambia', 'Maldives', 'Czechia', 'Congo', 'Eswatini'],
    'Oceania': ['New Zealand', 'Australia', 'Fiji', 'Papua New Guinea', 'Solomon Islands', 'Vanuatu', 'New Caledonia', 'French Polynesia', 'Samoa', 'Tonga', 'Micronesia', 'Guam']
}

# Use the map function to create a new 'Continent' column based on the mapping
df['Continent'] = df['Country'].map({country: continent for continent, countries in continent_mapping.items() for country in countries})

# Display the updated DataFrame with the 'Continent' column
df

,Country,Region,Happiness_Score,GDP_per_Capita,Family_(Social_Support),Health_(Life_Expectancy),Freedom,Trust_(Government_Corruption),Generosity,Year,Continent
0,Switzerland,Western Europe,7.587,1.397,1.350,0.941,0.666,0.420,0.297,2015,Europe
1,Iceland,Western Europe,7.561,1.302,1.402,0.948,0.629,0.141,0.436,2015,Europe
2,Denmark,Western Europe,7.527,1.325,1.361,0.875,0.649,0.484,0.341,2015,Europe
3,Norway,Western Europe,7.522,1.459,1.331,0.885,0.670,0.365,0.347,2015,Europe
4,Canada,North America,7.427,1.326,1.323,0.906,0.633,0.330,0.458,2015,North America
...,...,...,...,...,...,...,...,...,...,...,...
1224,Botswana,-,3.471,1.503,0.815,0.280,0.571,0.102,0.012,2022,Europe
1225,Rwanda,-,3.268,0.785,0.133,0.462,0.621,0.544,0.187,2022,Africa
1226,Zimbabwe,Sub-Saharan Africa,2.995,0.947,0.690,0.270,0.329,0.105,0.106,2022,Europe
1227,Lebanon,Middle East and Northern Africa,2.955,1.392,0.498,0.631,0.103,0.034,0.082,2022,Asia
1228,Afghanistan,Southern Asia,2.404,0.758,0.000,0.289,0.000,0.005,0.089,2022,Asia

In [27]:
continent_means = df.groupby('Continent').agg({
    'Happiness_Score': 'mean',
    'GDP_per_Capita': 'mean',
    'Family_(Social_Support)': 'mean',
    'Health_(Life_Expectancy)': 'mean',
    'Freedom': 'mean',
    'Trust_(Government_Corruption)': 'mean',
    'Generosity': 'mean'
}).reset_index()

continent_means

,Continent,Happiness_Score,GDP_per_Capita,Family_(Social_Support),Health_(Life_Expectancy),Freedom,Trust_(Government_Corruption),Generosity
0,Africa,4.374781,0.518000,0.847164,0.344384,0.315479,0.140055,0.242329
1,Asia,5.524665,1.150911,0.974823,0.682728,0.427690,0.150652,0.225386
2,Europe,5.331953,0.961852,1.036253,0.597884,0.438862,0.125859,0.194710
3,North America,6.520118,1.104912,1.143838,0.726500,0.543324,0.129059,0.199838
4,Oceania,7.268187,1.419938,1.363500,0.885750,0.628125,0.372188,0.372875
5,South America,6.070000,1.047615,1.194910,0.688577,0.487936,0.091090,0.152282

In [28]:
continent_means.to_csv("continent_means", index=False)